<!DOCTYPE html>
<html>
    <head>
        <title>RooMIT</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/lib/bootstrap/bootstrap.min.css'>
        <script src='/lib/jquery/jquery.js'></script>
        <script src='/lib/jquery/jquery.cookie.js'
        <link rel="stylesheet" href="//cdnjs.buttflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
        <script type="text/javascript" src="//cdnjs.buttflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
        <script src='/lib/handlebars.runtime.js'></script>
        <script src='/javascripts/templates.js'></script>
        <script src='/javascripts/utils.js'></script>
        <script src='/javascripts/controls.js'></script>
        <script src='/javascripts/user.js'></script>
        <script src='/javascripts/login.js'></script>
        <script src='/javascripts/request.js'></script>
    </head>
    <body>
        <div id='main'></div>
    </body>
</html>
