<!-- Author: Olga -->

<!DOCTYPE html>
<html>
    <head>
        <title>RooMIT</title>
        <link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css' />
        <link rel="stylesheet" href='/lib/bootstrapValidator/bootstrapValidator.min.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src='/lib/jquery/jquery.js'></script>
        <script src='/lib/jquery/jquery.cookie.js'></script>
        <script src='/lib/bootstrapValidator/bootstrapValidator.min.js'></script>
        <script src='/lib/handlebars.runtime.js'></script>
        <script src='/javascripts/templates.js'></script>
        <script src='/javascripts/utils.js'></script>
        <script src='/javascripts/user.js'></script>
        <script src='/javascripts/suggestion.js'></script>
        <script src='/javascripts/login.js'></script>
        <script src='/javascripts/request.js'></script>
    </head>
    <body>
        <meta name='csrf-token' content="<%= token %>">
        <div id='main'></div>
    </body>
</html>
