body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-form {
    width: 20%;
}

#toolbar {
    float: right;
}

li.active a {
    cursor: default;
}

li a {
    cursor: pointer;
}

#available-group .btn-primary {
    cursor: default;
}