/** 
 * Author: Olga, Alec, Rujia
 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-form {
    width: 20%;
}

#toolbar {
    float: right;
}

li.active a {
    cursor: default;
}

li a {
    cursor: pointer;
}

#available-group .btn-primary {
    cursor: default;
}

.requestuser { 
	display: inline-block; 
	width: 7%;
}

.space {
  display: inline-block;
  width: 30%;
}