/** 
 * Author: Olga, Alec, Rujia
 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #428bca;
}

.login-form {
    width: 20%;
}

#toolbar {
    position: fixed; 
    right: 3%; 
    top: 3%;
}

li.active a {
    cursor: default;
}

li a {
    cursor: pointer;
}

#available-group .btn-primary {
    cursor: default;
}

#available-group .btn-default {
  color: #428bca;
  border-color: #FFFFFF;
}

#available-group .btn-default:hover {
  border-color: #FFFFFF;
  color:black;
}

#available-group .btn-primary, #available-group .btn-default {
  width: 80px;
}

.requestuser { 
	display: inline-block; 
	width: 7%;
}

.space {
  display: inline-block;
  width: 30%;
}

#name {
  margin-top:0px;
}

.preference:hover {
  border-color: #FFFFFF;
}

.preference.btn-default {
  color: #428bca;
  border-color: #FFFFFF;
}

.preference.btn-default:hover {
  color: black;
  border-color: #FFFFFF;
}




