<form id='login-form' class='login-form'>
    <input type='checkbox' id='toggle-register'><label>Make a new account</label>
    <br>
    <input type='email' class='form-control' name='email' placeholder='Enter email' required autofocus>
    <input type='password' class='form-control' name='password' placeholder='Enter password' required>
    <input type='submit' class='btn btn-large btn-primary btn-block' value='Login'>
</form>