<!-- controls toolbar -->
<ul id='toolbar' class='nav nav-pills'>
    <li id='profile' role='presentation' class='active'><a href=''>Profile</a></li>
    <li id='suggestions' role='presentation'><a href=''>Suggestions</a></li>
    <li id='requests' role='presentation'><a href=''>Requests</a></li>
    <li id='logout' role='presentation'><a href=''>Logout</a></li>
</ul>

<h1>{{ title }}</h1>
<br>

<!-- error handling -->
<p id='error' class='text-danger'></p>

<div id='content'></div>