{{! Author: Olga}}
<!-- controls toolbar -->
<ul id='toolbar' class='nav nav-pills'>
    <li id='profile' role='presentation' class='active'><a>Profile</a></li>
    <li id='suggestions' role='presentation'><a>Suggestions</a></li>
    <li id='requests' role='presentation'><a>Requests</a></li>
    <li id='logout' role='presentation'><a>Logout</a></li>
</ul>

<!-- error handling -->
<p id='error' class='text-danger'></p>

<div id='content'></div>