<h1>Welcome to RooMIT!</h1>
<br>

<!-- error handling -->
<p id='error' class='text-danger'></p>
        
<form id='register-form' class='login-form'>
    <div class='form-group'>
        <input type='checkbox' id='toggle-login' checked='checked'><label>Make a new account</label>
        <br>
        <input type='text' class='form-control' id='name' name='name' placeholder='Enter name' required autofocus>
        <input type='email' class='form-control' id='email' name='email' placeholder='Enter email' required autofocus>
        <input type='password' class='form-control' id='password' name='password' placeholder='Enter password' required>
        <input id='submit-register' type='submit' class='btn btn-large btn-primary btn-block' value='Register'>
    </div>
</form>