<form id='register-form' class='login-form'>
    <input type='checkbox' id='toggle-login' checked='checked'><label>Make a new account</label>
    <br>
    <input type='text' class='form-control' name='name' placeholder='Enter name' required autofocus>
    <input type='email' class='form-control' name='email' placeholder='Enter email' required autofocus>
    <input type='password' class='form-control' name='password' placeholder='Enter password' required>
    <input type='submit' class='btn btn-large btn-primary btn-block' value='Register'>
</form>