{{! Author: Peinan}}

<div from={{from._id}} to={{to._id}}>
	{{#if showName}}
        <span class='requestuser'><a value='{{from._id}}' class='user-profile' href='#'>{{from.name}}</a></span>
    {{/if}}
    <button class='btn btn-primary confirm' type='button'>Confirm Request</button>
    <button class='btn btn-default deny' type='button'>Deny Request</button>
</div>