{{! Author: Rujia}}

<h1> Requests </h1><br>

<h3> From others: </h3><br>
{{#if showName}}
  <p>Sucks</p>
{{/if}}
{{#each requestsToUser}}
    {{> request-to-user this}}
{{/each}}

<h3> From you: </h3><br>
{{#each requestsFromUser}}
    {{> request-from-user this}}
{{/each}}