{{! Author: Peinan}}

<div from={{from._id}} to={{to._id}}>
    <button class='btn btn-primary confirm' type='button'>Confirm Request</button>
    <button class='btn btn-default deny' type='button'>Deny Request</button>
</div>