{{! Author: Rujia}}

<h1> Requests </h1><br>

<h3> From others: </h3><br>
{{#each requestsToUser}}
    {{> requestToUser this}}
{{/each}}

<h3> From you: </h3><br>
{{#each requestsFromUser}}
    {{> requestFromUser this}}
{{/each}}